.cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #c39153;
  overflow: hidden;
  transition: all 0.3s linear;
}

.cursor::before {
  content: "";
  position: absolute;
  top: -20%;
  right: 0;
  width: 50%;
  height: 50%;
  background-color: rgb(255, 252, 246);
  border-radius: 50%;
}

.cursor::after {
  content: "";
  position: absolute;
  bottom: -4%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 60%;
  background-color: rgb(255, 252, 246);
  border-radius: 50%;
}

.features {
  position: absolute;
  z-index: 1;
  width: inherit;
  height: inherit;
  text-align: center;
  line-height: 1;
}

@keyframes move-eyes {
  0% {
    transform: translateX(6%);
  }
  50% {
    transform: translateX(-6%);
  }
  100% {
    transform: translateX(6%);
  }
}

.features::before {
  content: "👀";
  display: block;
  width: inherit;
  padding: 12px 0 0;
  font-size: 1.2em;
  /* animation: move-eyes 1s linear infinite alternate; */
}

.features::after {
  content: "👅";
  display: block;
  width: inherit;
}

.features-nose {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 14%;
  height: 10%;
  border-radius: 50%;
  background-color: #000;
}
